<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vibrantzz3.snipsearch">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HairList"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".BeautyList"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SpaList"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AcademyList"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SalonProfile"

            android:colorMode="@color/colorPrimary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewFavouritesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ViewBookmarksActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ViewVisitedActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".User"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".EditProfile"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".ViewOffers"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".UserPicsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ViewAppointments"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Settings"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ChangePassword"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SalonProfile"
            android:colorMode="@color/colorPrimary"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Review"
            android:colorMode="@color/colorPrimary"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Preview"
            android:colorMode="@color/colorPrimary"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>